* {
    margin: 0;
    padding: 0;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;

}

table {
    border: 1px solid black;
}

.dark {
    background-color: yellowgreen;
}

td img {
    width: 80%;
}

td img:hover {
    opacity: 0.8;
    cursor: pointer;
}