* {
    margin: 0;
    padding: 0;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;

}

table {
    margin: 50px 0 0 50px;
    border: 1px solid yellowgreen;
}

.dark {
    background-color: yellowgreen;
}

td img {
    width: 80%;
    user-select: none;
}

td img:hover {
    opacity: 0.8;
    cursor: pointer;
}